
.booksize
{
    height: 240px;
    width: 480px;
}
.BookMedia
{
    height: 465px;
    width: 300px;
}

.our_student
{
    height: 90px;
    width: 90px;
}
.library_staff{
    height: 299px;
    width: 390px;
}
#review_profile{
    height: 70px;
    width: 70px;
}