{% extends 'Admin_pannel/base.html' %}
{% load static %}
<!-- Page Title -->
{% block title%} Admin student details {% endblock %}
{% block body %}
{% load static %}

<!--== BODY INNER CONTAINER ==-->
<div class="sb2-2">
    <!--== breadcrumbs ==-->
    <div class="sb2-2-2">
        <ul>
            <li><a href="{% url 'admin_dashboard1' %}"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
            </li>
            <li class="active-bre"><a href=""> Student Details</a>
            </li>
            <li class="page-back"><a href="javascript:history.go(-1)"><i class="fa fa-backward" aria-hidden="true"></i> Back</a>
            </li>
        </ul>
    </div>

    <!--== User Details ==-->
    <div class="sb2-2-3">
        <div class="row">
            <div class="col-md-12">
                
            <div class="box-inn-sp admin-form">
                    <div class="inn-title">
                        <h4>Student Informations<a href="#" data-activates='top-menu1' class="page-back dropdown-button" style="float: right;"><button>Communication</button></a></h4>      
                        <input type="hidden" value="student" id="email_indi">                  
                    </div>
                    <ul id='top-menu1' class='dropdown-content top-menu-sty'>
                        {% if objectid %}
                        <li><a href="{% url 'user_email_send' objectid %}" class="waves-effect" onclick="chagemailsender();"><i class='fa fa-paper-plane'></i>Email</a>
                        </li>
                        <li><a href="{% url 'admin_student_course' objectid %}" class="waves-effect"><i class='fa fa-book'></i>Booked Course</a>
                        </li>
                        <li><a href="{% url 'admin_student_blog' objectid %}" class="waves-effect"><i class='fa fa-book'></i>Published Blogs</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="{% url 'admin_account_setting' %}" class="waves-effect"><i class='fa fa-phone'></i>Phone</a>
                        </li>
                        <li><a href="{% url 'admin_student_feedback' objectid %}" class="waves-effect"><i class='fa fa-envelope-square'></i>Feedback</a>
                        </li>
                        {% endif %}
                    </ul>
                    <div class="tab-inn">
                        <form method="post" action=""  enctype="multipart/form-data">
                            {% csrf_token %}
                                {% for field in AllContext %}
                                <div class="form-group">
                                    {{ field.label_tag }}
                                    {{ field }}
                                </div>
                                {% endfor %}

                            <div class="row">
                                <div class="input-field col s12">
                                    <i class="waves-effect waves-light btn-large waves-input-wrapper"><input type="submit" class="waves-button-input"></i>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}