{% extends 'Edu_Master/base.html' %}
{% load static %}
<!-- Page Title -->
{% block title%} Facilities {% endblock %}
{% block body %}
{% load static %}

<section>
    <div class="head-2">
        <div class="container">
            <div class="head-2-inn head-2-inn-padd-top">
                <h1>List of College Facilities</h1>
                <p></p>
                <div class="event-head-sub">
                    <ul>
                        <li>Topic: Global warming</li>
                        <li>Time: 09:15 am – 5:00 pm</li>
                        <li>Location: Illunois</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>	

<!--SECTION FACILITIES START-->
<section>
    <div class="ed-res-bg">
    <div class="container com-sp pad-bot-70 ed-res-bg">
        <div class="row">
            <div class="cor about-sp">
                <div class="ed-rsear">
                    <div class="ed-rsear-in">
                        <ul>
                            <li>
                                <div class="ed-rese-grid">
                                    <div class="ed-rsear-img ed-faci-full-top">
                                        <img src="{% static 'Edu_Master/images/facilities/1.jpg' %}" alt="">
                                    </div>
                                    <div class="ed-rsear-dec ed-faci-full-bot">
                                        <h4><a href="{% url 'facilities_detail' %}">Design and Technology Suite</a></h4>
                                        <p>The Design and Technology Suite is an ensemble of various specialist areas and rooms which offer students the potential to explore a variety of design </p>
                                        <a href="{% url 'facilities_detail' %}" class="read-line-btn">Read more</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="ed-rese-grid">
                                    <div class="ed-rsear-img ed-faci-full-top">
                                        <img src="{% static 'Edu_Master/images/facilities/2.jpg' %}" alt="">
                                    </div>
                                    <div class="ed-rsear-dec ed-faci-full-bot">
                                        <h4><a href="{% url 'facilities_detail' %}">Science Laboratories</a></h4>
                                        <p>The Design and Technology Suite is an ensemble of various specialist areas and rooms which offer students the potential to explore a variety of design </p>
                                        <a href="{% url 'facilities_detail' %}" class="read-line-btn">Read more</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="ed-rese-grid">
                                    <div class="ed-rsear-img ed-faci-full-top">
                                        <img src="{% static 'Edu_Master/images/facilities/3.jpg' %}" alt="">
                                    </div>
                                    <div class="ed-rsear-dec ed-faci-full-bot">
                                        <h4><a href="{% url 'facilities_detail' %}">Multi-Purpose Sports Hall</a></h4>
                                        <p>The Design and Technology Suite is an ensemble of various specialist areas and rooms which offer students the potential to explore a variety of design </p>
                                        <a href="{% url 'facilities_detail' %}" class="read-line-btn">Read more</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="ed-rese-grid">
                                    <div class="ed-rsear-img ed-faci-full-top">
                                        <img src="{% static 'Edu_Master/images/facilities/4.jpg' %}" alt="">
                                    </div>
                                    <div class="ed-rsear-dec ed-faci-full-bot">
                                        <h4><a href="{% url 'facilities_detail' %}">Design and Technology Suite</a></h4>
                                        <p>The Design and Technology Suite is an ensemble of various specialist areas and rooms which offer students the potential to explore a variety of design </p>
                                        <a href="{% url 'facilities_detail' %}" class="read-line-btn">Read more</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="ed-rese-grid">
                                    <div class="ed-rsear-img ed-faci-full-top">
                                        <img src="{% static 'Edu_Master/images/facilities/5.jpg' %}" alt="">
                                    </div>
                                    <div class="ed-rsear-dec ed-faci-full-bot">
                                        <h4><a href="{% url 'facilities_detail' %}">Music Suites and En-suite Practice Rooms</a></h4>
                                        <p>The Design and Technology Suite is an ensemble of various specialist areas and rooms which offer students the potential to explore a variety of design </p>
                                        <a href="{% url 'facilities_detail' %}" class="read-line-btn">Read more</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="ed-rese-grid">
                                    <div class="ed-rsear-img ed-faci-full-top">
                                        <img src="{% static 'Edu_Master/images/facilities/6.jpg' %}" alt="">
                                    </div>
                                    <div class="ed-rsear-dec ed-faci-full-bot">
                                        <h4><a href="{% url 'facilities_detail' %}">Workshop Technology Suite</a></h4>
                                        <p>The Design and Technology Suite is an ensemble of various specialist areas and rooms which offer students the potential to explore a variety of design </p>
                                        <a href="{% url 'facilities_detail' %}" class="read-line-btn">Read more</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="ed-rese-grid">
                                    <div class="ed-rsear-img ed-faci-full-top">
                                        <img src="{% static 'Edu_Master/images/facilities/7.jpg' %}" alt="">
                                    </div>
                                    <div class="ed-rsear-dec ed-faci-full-bot">
                                        <h4><a href="{% url 'facilities_detail' %}">Medical Room</a></h4>
                                        <p>The Design and Technology Suite is an ensemble of various specialist areas and rooms which offer students the potential to explore a variety of design </p>
                                        <a href="{% url 'facilities_detail' %}" class="read-line-btn">Read more</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="ed-rese-grid">
                                    <div class="ed-rsear-img ed-faci-full-top">
                                        <img src="{% static 'Edu_Master/images/facilities/8.jpg' %}" alt="">
                                    </div>
                                    <div class="ed-rsear-dec ed-faci-full-bot">
                                        <h4><a href="{% url 'facilities_detail' %}">Indoor and Outdoor Eating Areas</a></h4>
                                        <p>The Design and Technology Suite is an ensemble of various specialist areas and rooms which offer students the potential to explore a variety of design </p>
                                        <a href="{% url 'facilities_detail' %}" class="read-line-btn">Read more</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="ed-rese-grid">
                                    <div class="ed-rsear-img ed-faci-full-top">
                                        <img src="{% static 'Edu_Master/images/facilities/9.jpg' %}" alt="">
                                    </div>
                                    <div class="ed-rsear-dec ed-faci-full-bot">
                                        <h4><a href="{% url 'facilities_detail' %}">Recreational Areas</a></h4>
                                        <p>The Design and Technology Suite is an ensemble of various specialist areas and rooms which offer students the potential to explore a variety of design </p>
                                        <a href="{% url 'facilities_detail' %}" class="read-line-btn">Read more</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="ed-rese-grid">
                                    <div class="ed-rsear-img ed-faci-full-top">
                                        <img src="{% static 'Edu_Master/images/facilities/10.jpg' %}" alt="">
                                    </div>
                                    <div class="ed-rsear-dec ed-faci-full-bot">
                                        <h4><a href="{% url 'facilities_detail' %}">Drama Studio</a></h4>
                                        <p>The Design and Technology Suite is an ensemble of various specialist areas and rooms which offer students the potential to explore a variety of design </p>
                                        <a href="{% url 'facilities_detail' %}" class="read-line-btn">Read more</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="ed-about-sec1">
                    <div class="col-md-6"></div>
                    <div class="col-md-6"></div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
<!--SECTION FACILITIES END-->

{% endblock %}
